.menu{
  background-color: brown;
  padding: 10px 0px;
  text-align: center;
}

.menu li{
  display: inline-block;
margin: 0 10px;
}
.menu li a:hover{
  color: #26ba26;
}
.menu li a {
  color: #fff;
  font-size: 1.5rem;
}
